@page "/cuenta/direcciones"
@inject DireccionesDeliveryService direccionesDeliveryService
@rendermode InteractiveServer

<SectionContent SectionName="TituloPagina">
    <h1>Cuenta : direcciones</h1>
</SectionContent>

<div class="glass-container addresses-view">

    <div class="sub-nav-bar">
        <NavLink class="sub-nav-item" href="/cuenta">Perfil</NavLink>
        <div class="separator"></div>

        <NavLink class="sub-nav-item" href="/cuenta/direcciones">Direcciones</NavLink>
        <div class="separator"></div>

        <NavLink class="sub-nav-item active" href="/cuenta/autorizados">Autorizados</NavLink>
    </div>

    <div class="addresses-content">

        <div class="header-section">
            <h3 class="section-title">Mis Direcciones</h3>
            <a href="/cuenta/direcciones/upsert/0" class="btn-add">
                <i class="bi bi-plus-circle-fill"></i> Nueva Dirección
            </a>
        </div>

        <div class="cards-grid">
            @foreach (var dir in ListaDirecciones)
            {
                <div class="address-card">
                    <div class="card-header">
                        <span class="alias-text">@dir.Alias</span>

                        @if (dir.Principal)
                        {
                            <span class="badge-main">Principal</span>
                        }
                    </div>

                    <div class="card-body">
                        <p><strong>Sector:</strong> @dir.Sector</p>
                        <p><strong>Calle:</strong> @dir.Calle</p>
                        <p><strong>Domicilio:</strong> @(dir.Domicilio ?? "N/A")</p>
                        <p><strong>Referencias:</strong> @dir.Referencias</p>
                    </div>

                    <div class="card-actions">
                         <a class="bi bi-pencil-square" href="/cuenta/direcciones/upsert/@dir.DireccionDeliveryId"><span class="btn-icon edit"/></a>
                        <button class="btn-icon delete" title="Eliminar"/>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

@code {
    public List<DireccionesDelivery> ListaDirecciones { get; set; } = new List<DireccionesDelivery>();

    protected override async Task OnInitializedAsync()
    {
        ListaDirecciones = await direccionesDeliveryService.Listar(d => d.DireccionDeliveryId > 0);
    }
}